.container{
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
}

.image img {
  height: 25vh;
  background-position: center;
  background-size: cover;
  width: 30vh;
  border-radius: 4%;
}

.image p{
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
  color: #8dc3d8;
}


a {
  text-decoration: none;
}
