<!-- <p>mostrar-venta works!</p> -->
<div class="flex align-items-center justify-content-end bg-cyan-100">
  <a pButton pRipple label="Agregar Venta" icon="pi pi-inbox" class="bg-cyan-600" [routerLink]="['/addventas']"></a>
</div>
<div>
  <p-toast></p-toast>
</div>
<p-table [value]="ventas">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Fecha Venta</th>
      <th>Subtotal Venta</th>
      <th>Impuesto Venta</th>
      <th>Descuento Venta</th>
      <th>Total Venta</th>
      <th>Cliente</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ventas>
    <tr>
      <td>{{ventas.id}}</td>
      <td>{{ventas.fechaVenta}}</td>
      <td>{{ventas.subtotalVenta}}</td>
      <td>{{ventas.impuestosVenta}}</td>
      <td>{{ventas.descuentosVenta}}</td>
      <td>{{ventas.totalVenta}}</td>
      <td>{{ventas.cliente.nombre}}</td>
      <td>
        <!-- <p-button icon="pi pi-plus" class="bg-cyan-600 mr-1" (click)="imprimir(ventas.id)"></p-button> -->
        <a pButton pRipple icon="pi pi-sync" class="bg-cyan-600 mr-1" [routerLink]="['/ventas/edit/', ventas.id]">
        </a>
        <!-- <button type="button" pButton pRipple icon="pi pi-times" class="bg-cyan-600 mr-1" (click)="eliminarVenta(ventas.id)">
        </button> -->
      </td>
    </tr>
  </ng-template>
</p-table>
